<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toutiao.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toutiao">
        <activity
            android:name=".LoginOneKeyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPwdActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".NewsDetailActivity"/>
        <activity android:name=".MineActivity"/>
        <activity android:name=".ShopActivity"/>
        <activity android:name=".VideoActivity"/>
        <activity android:name=".VideoDetailActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".MsgActivity"/>
        <!-- 全项目唯一一个带软键盘交互的页面：
             不写 adjustResize 的话，键盘弹出来会直接盖住底部输入栏 -->
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>
